<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Resume Builder</title>
</head>
<body>

<h2>Create Resume</h2>

<form action="/generate" method="POST">

<input name="name" placeholder="Full Name"><br><br>
<input name="email" placeholder="Email"><br><br>
<input name="phone" placeholder="Phone"><br><br>
<input name="address" placeholder="Address"><br><br>

<textarea name="summary" placeholder="Profile Summary"></textarea><br><br>
<textarea name="skills" placeholder="Skills"></textarea><br><br>
<textarea name="languages" placeholder="Languages"></textarea><br><br>
<textarea name="interests" placeholder="Interests"></textarea><br><br>

<input name="degree" placeholder="Degree"><br><br>
<input name="college" placeholder="College"><br><br>
<input name="year" placeholder="Year"><br><br>
<input name="cgpa" placeholder="CGPA"><br><br>

<textarea name="projects" placeholder="Projects"></textarea><br><br>
<textarea name="certifications" placeholder="Certifications"></textarea><br><br>
<textarea name="achievements" placeholder="Achievements"></textarea><br><br>
<textarea name="Experience" placeholder="Experience"></textarea><br><br>

<button type="submit">Generate Resume</button>

</form>

</body>
</html>
